* {
    padding: 0;
    margin: 0;
   }

   header{
    display: flex;
    background-color: rgb(27, 27, 175);
    border: rgb(240, 240, 15) 3px solid;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
   }

   .logo h1{
     color: white;
     font-size: 3rem;
     margin: 1rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
 
 
      .logo a {
        text-decoration: none;
      }

      .logo a:hover{
        text-decoration: underline white;
      }

    .nav-list{
        display: flex;
        list-style-type: none;
        gap: 1.8rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .nav-list li a {
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
    }

    .nav-list li a:hover {
        background-color: rgb(233, 233, 30);
        color: black;
    }

    .nav-list li a:active {
      border: 3.5px rgba(245, 243, 243, 0.986) solid;
      font-size: 1.5rem;
      color: rgb(245, 243, 243, 0.986);
    }
    
    .abrir-menu, .cerrar-menu{
        display: none;
    }

   body {
    background-color: rgb(240, 237, 237);
   }


 /*pagina principal*/

.servicio-plantillas-productos{
    margin: 0.7rem;
    padding: 0.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
   
}

.donde{
    background-color: rgb(154, 196, 245);
    margin-top: 4rem;
     
}
.donde h3{
    margin: 1.5rem;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.telefonos{
    font-size: 1.9rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}
.telefonos h4{
    text-decoration: underline;
    font-size: 1.7rem;
}

.ubicacion{
    margin-top: 3rem;
    margin-left: 0.4rem;
    margin-bottom: 3rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
    
}
.ubicacion p{
    font-size: 1.2rem;
}

/*Sucursales*/
.titulo-s {
    padding: 1rem;
    margin: 0.5rem;
    text-decoration: underline;
    font-size: 2.5rem;
}

.footer{
        background-color:  rgb(27, 27, 175);
        border: solid 2px  rgb(230, 230, 16);
        color: white;
        height: 4rem;
       
     }



 @media screen and (max-width: 550px) {
   
    header{
        padding-bottom: 2rem;
    }

   .abrir-menu, .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;
    color: white;
   }

   .nav{
    opacity: 0;
    visibility: hidden;
   }
    
   .nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(32, 32, 32);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
   }

   .nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
   }
    
   .nav-list{
    flex-direction: column;
    align-items: end;
   }

   .nav-list li a{
    color: white;
   }

   .servicio-plantillas-productos{
    font-size: 1.4rem;
   }

   .telefonos{
    justify-items: left;
    flex-direction: column;
    font-size: 1.6rem;
   }

   .ubicacion{
    flex-direction: column;
   }
 
}