* {
    padding: 0;
    margin: 0;
   }

   body {
    font-family:  sans-serif;
   }


.header {
    display: flex;
    justify-content: space-between;
    height: 2.8rem;
    background-color: rgb(26, 26, 206);
    border: solid 4px yellow;
    align-items: center;
    padding: 1rem;
    height: 6rem;
}



.logo{
    padding: 0.5rem;
    margin: 0.5rem;
    
    display: flex;
    align-items: center;
    color: rgb(240, 231, 231);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}



nav a{
   
    margin: 0.8rem;
    color: rgb(240, 231, 231) ;
    text-decoration: none;
}



nav li:hover{
    background-size: 1rem ;
    background-color: rgb(230, 230, 16);
    color: black;
    }

    
nav li:active {
    border: 3px solid black;
  }

  nav li{
    list-style-type: none;
    font-size: 1.2rem;
    padding: 1rem;
    }





.items{
    color: white;
    display: flex;
    flex-direction: row;
     }


     .footer{
        background-color:rgb(26, 26, 206);
        border: solid 2px  rgb(230, 230, 16);
        color: white;
       
     }